@charset "UTF-8";

/* Указываем box sizing */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
  margin: 0px auto;
}

/* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

.header {
  width: 100%;
  z-index: 99;
  font-size: 16px;
  font-family: "CormorantInfant";
}

.header-container {
  width: 100%;
  max-width: 1420px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 5% 0px 120px;
}

.header-logo {
  width: 280px;
}

.header-nav {
  margin-top: 33px;
}

.header-nav__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav__item {
  margin-left: 30px;
}

.header-nav__link {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  width: 0px;
  background-color: rgba(254, 254, 254, 0);
  background: rgba(254, 254, 254, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: #242632;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.717);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.717);
}

body {
  height: 9000px;
  overflow-x: hidden;
  font-size: 16px;
  font-family: "Spectral";
}

.text-red {
  color: #ce0000;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1420px;
  padding: 0px 5%;
  margin: 0px auto;
}

.main-text {
  max-width: 580px;
  width: 100%;
  font-family: "Spectral";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 0.08em;
}

.main__text {
  margin-bottom: 60px;
}

.main-btn {
  display: inline-block;
  padding: 10px 70px;
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 200%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.main-btn:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.section-pt {
  padding-top: calc(5vh + 8vw);
}

.first-screen__container {
  width: 100%;
  min-height: 100vh;
  max-width: 1420px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 5% 0px 120px;
}

.header-wrapper {
  position: relative;
}

.vertical-social__wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 90px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.vertical-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.vertical-social svg {
  width: 34px;
  height: 34px;
  fill: #242632;
  stroke: inherit;
  stroke-width: inherit;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.vertical-social svg:hover {
  -webkit-transform: scale(1.1) rotate(360deg);
      -ms-transform: scale(1.1) rotate(360deg);
          transform: scale(1.1) rotate(360deg);
  fill: #810404;
}

.vertical-social__text {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.2em;
  color: #242632;
}

.vertical-social__line-text {
  width: 1px;
  height: 100px;
  background-color: #242632;
  margin: 20px 0px;
}

.vertical-social__icons {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first-screen__left {
  position: relative;
  width: 927px;
}

.first-screen__title {
  width: 512px;
  font-family: "CormorantInfant";
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 153%;
  color: #5e6075;
}

.grape-bg {
  width: 545px;
  position: absolute;
  right: -108px;
  bottom: -160px;
}

.first-screen__subtitle {
  width: 571px;
  font-family: "CormorantInfant";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: 0.08em;
  color: #000000;
}

.section-dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-dark {
  width: 100%;
  min-height: 600px;
  background: #242632;
  padding: 64px 0px;
  position: relative;
}

.section-dark__img {
  width: 420px;
}

.section-dark .main-btn {
  background: #ff9759;
}

.section-dark .main-btn:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: rgba(12, 247, 0, 0.32) 0px 13px 27px -5px, rgba(17, 255, 0, 0.225) 0px 8px 16px -8px;
          box-shadow: rgba(12, 247, 0, 0.32) 0px 13px 27px -5px, rgba(17, 255, 0, 0.225) 0px 8px 16px -8px;
}

.section-dark__text {
  color: white;
}

#peach-decor {
  width: 50%;
  max-width: 500px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  -webkit-transform: translate(0%, 40%);
      -ms-transform: translate(0%, 40%);
          transform: translate(0%, 40%);
  pointer-events: none;
}

.no-webp .wine-italy{
  background-image: url("../img/виноград-трафарет-декор.png"); }

.wine-italy {
  background-position: 0px center;
  background-repeat: no-repeat;
}

.wine-text {
  width: 100%;
  max-width: 560px;
}

.title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.wine-text__title {
  font-weight: 700;
  font-size: 60px;
  font-size: calc(4.5vh + 0.5vw);
  line-height: 100%;
  letter-spacing: 0.08em;
  color: #242632;
  padding-right: 20px;
  font-family: "Cormorant Infant";
}

.flag {
  width: 50px;
}

.wine-text__subtitle {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.08em;
  font-family: "Cormorant Infant";
  margin-bottom: calc(2vh + 2vw);
}

.wine-text__inner {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 0.08em;
}

.main-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 0.08em;
  color: #000000;
  padding: 10px 60px;
  display: inline-block;
  background: #f3d35a;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.brend-logo {
  width: 50%;
  max-width: 250px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.brend-logo:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.wine-img {
  max-width: 460px;
  width: 100%;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0px;
}

.wine-text__img-decor {
  width: 100%;
  padding: 20px 0px;
}

.wine-italy2 .container {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.no-webp .wine-spain{
  background: url("../img/виноград-декор.png") 0% 0% no-repeat, url("../img/Лист-блюр.png") 100% 100% no-repeat; }

.wine-spain .wine-img {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wine-italy2 .container {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.no-webp .about-section{
  background: url("../img/лист-винограда-декор.png") 0% 100% no-repeat; }

.about-section .wine-img {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@font-face {
  font-family: CormorantInfant;
  font-display: swap;
  src: url("../fonts/CormorantInfant-Bold.woff2") format("woff2"), url("../fonts/CormorantInfant-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: CormorantInfant;
  font-display: swap;
  src: url("../fonts/CormorantInfant-BoldItalic.woff2") format("woff2"), url("../fonts/CormorantInfant-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CormorantInfant;
  font-display: swap;
  src: url("../fonts/CormorantInfant-Italic.woff2") format("woff2"), url("../fonts/CormorantInfant-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CormorantInfant;
  font-display: swap;
  src: url("../fonts/CormorantInfant-LightItalic.woff2") format("woff2"), url("../fonts/CormorantInfant-LightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CormorantInfant;
  font-display: swap;
  src: url("../fonts/CormorantInfant-Medium.woff2") format("woff2"), url("../fonts/CormorantInfant-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: CormorantInfant;
  font-display: swap;
  src: url("../fonts/CormorantInfant-MediumItalic.woff2") format("woff2"), url("../fonts/CormorantInfant-MediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CormorantInfant;
  font-display: swap;
  src: url("../fonts/CormorantInfant-Regular.woff2") format("woff2"), url("../fonts/CormorantInfant-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CormorantInfant;
  font-display: swap;
  src: url("../fonts/CormorantInfant-SemiBold.woff2") format("woff2"), url("../fonts/CormorantInfant-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: CormorantInfant;
  font-display: swap;
  src: url("../fonts/CormorantInfant-Light.woff2") format("woff2"), url("../fonts/CormorantInfant-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: CormorantInfant;
  font-display: swap;
  src: url("../fonts/CormorantInfant-SemiBoldItalic.woff2") format("woff2"), url("../fonts/CormorantInfant-SemiBoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Spectral;
  font-display: swap;
  src: url("../fonts/Spectral-Bold.woff2") format("woff2"), url("../fonts/Spectral-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Spectral;
  font-display: swap;
  src: url("../fonts/Spectral-Medium.woff2") format("woff2"), url("../fonts/Spectral-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Spectral;
  font-display: swap;
  src: url("../fonts/Spectral-Regular.woff2") format("woff2"), url("../fonts/Spectral-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width: 1320px) {
  .first-screen__title {
    font-size: 60px;
  }

  .first-screen__subtitle {
    font-size: 18px;
  }

  .grape-bg {
    width: 445px;
    right: -70px;
  }
}

@media screen and (max-width: 1160px) {
  #peach-decor {
    max-width: 400px;
  }

  .section-dark__img {
    width: 300px;
  }

  .section-dark__text {
    max-width: 400px;
  }
}

@media screen and (max-width: 1090px) {
  .first-screen__title {
    width: 50%;
  }

  .first-screen__subtitle {
    max-width: 575px;
    width: 100%;
  }

  .first-screen__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .first-screen__left {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .grape-bg {
    position: relative;
    top: 0px;
    right: 0px;
  }

  .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .wine-text {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 810px) {
  .header-nav {
    display: none;
  }

  .header-nav {
    display: none;
  }

  .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .section-dark__img {
    width: 100%;
    max-width: 400px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 600px) {
  .header-container {
    padding: 0px 5%;
  }

  .first-screen__title {
    line-height: 70px;
    font-size: 50px;
  }

  .first-screen__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .first-screen__left {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .header-logo {
    max-width: 280px;
    width: 50%;
  }

  .vertical-social__wrapper {
    display: none;
  }

  .first-screen__container {
    padding: 0 5%;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.webp .wine-italy{ background-image: url(../img/виноград-трафарет-декор.webp); }

.webp .wine-spain{ background: url(../img/виноград-декор.webp) 0% 0% no-repeat, url(../img/Лист-блюр.webp) 100% 100% no-repeat; }

.webp .about-section{ background: url(../img/лист-винограда-декор.webp) 0% 100% no-repeat; }